/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/******************************/
/*           HEADER           */
/******************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 9.6rem;

  padding: 0 4.8rem;

  background-color: #fdf2e9;
}

.logo-img-link {
  padding: 0.8rem 1.6rem;

  border-radius: 9px;
}

.logo-img {
  height: 2.2rem;
  width: auto;
}

/******************************/
/*       NAVIGATION BAR       */
/******************************/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;

  text-decoration: none;

  color: #333;

  padding: 0.8rem 1.6rem;

  border-radius: 9px;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.main-nav-btn:link,
.main-nav-link.main-nav-btn:visited {
  display: inline-block;

  border-radius: 9px;

  padding: 1.2rem 2.4rem;

  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.main-nav-btn:hover,
.main-nav-link.main-nav-btn:active {
  background-color: #cf711f;
}

/******************************/
/*        HERO SECTION        */
/******************************/

.section-hero {
  padding: 4.8rem 0 8rem 0;

  background-color: #fdf2e9;
}

.section-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;

  align-items: center;

  max-width: 130rem;

  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  margin-top: 8rem;
}

.delivered-meals-customer-imgs {
  display: flex;
}

.delivered-meals-customer-imgs img {
  height: 4.8rem;
  width: 4.8rem;

  border: 3px solid #fdf2e9;
  border-radius: 50%;

  margin-right: -1.6rem;

  transition: all 0.3s;
}

.delivered-meals-customer-imgs img:last-child {
  margin-right: 0;
}

.delivered-meals-customer-imgs img:hover {
  transform: scale(1.5) translateY(-6px);
}

.delivered-meals-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals-text strong {
  font-size: 2.4rem;
  font-weight: 700;

  color: #cf711f;
}

.hero-img {
  width: 100%;
}

/******************************/
/*    FEATURED IN SECTION     */
/******************************/

.section-featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;

  text-transform: uppercase;
  letter-spacing: 0.75px;

  text-align: center;

  margin-bottom: 2.4rem;

  color: #999;
}

.featured-in-logos {
  display: flex;
  justify-content: space-around;
}

.featured-in-logo-img {
  height: 3.2rem;

  filter: brightness(0);
  opacity: 50%;

  cursor: pointer;

  transition: all 0.3s;
}

.featured-in-logo-img:hover {
  filter: brightness(100%);
  opacity: 100%;
}

/******************************/
/*    HOW IT WORKS SECTION    */
/******************************/

.section-how-it-works {
  padding: 9.6rem 0;
}

.how-it-works-step-number {
  font-size: 8.6rem;
  font-weight: 600;

  margin-bottom: 1.2rem;

  color: #ddd;
}

.how-it-works-step-text {
  font-size: 1.8rem;

  line-height: 1.8;
}

.how-it-works-step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.how-it-works-step-img-box::before,
.how-it-works-step-img-box::after {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  transition: all 0.4s;
}

.how-it-works-step-img-box::before {
  z-index: -2;

  width: 60%;

  padding-bottom: 60%;

  background-color: #fdf2e9;
}

.how-it-works-step-img-box:hover::before {
  width: 65%;

  padding-bottom: 65%;
}

.how-it-works-step-img-box::after {
  z-index: -1;

  width: 45%;

  padding-bottom: 45%;

  background-color: #fae5d3;
}

.how-it-works-step-img-box:hover::after {
  width: 50%;

  padding-bottom: 50%;
}

.how-it-works-step-img {
  height: auto;
  width: 35%;
}

/******************************/
/*       MEALS SECTION        */
/******************************/

.section-meals {
  padding: 9.6rem 0;
}

.meals-card {
  border-radius: 11px;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  overflow: hidden;

  transition: all 0.4s;
}

.meals-card:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);

  transform: scale(1.01);
}

.meals-card-img {
  width: 100%;
}

.meals-card-details {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meals-card-tags {
  display: flex;
  gap: 0.4rem;

  font-weight: 600;

  margin-bottom: 1.2rem;
}

.meals-card-tag {
  display: inline-block;

  font-size: 1.2rem;

  text-transform: uppercase;

  padding: 0.4rem 0.8rem;

  border-radius: 100px;

  color: #333;
}

.meal-tag-vegetarian {
  background-color: #51cf66;
}

.meal-tag-vegan {
  background-color: #94d82d;
}

.meal-tag-paleo {
  background-color: #ffd43b;
}

.meals-card-title {
  font-size: 2.4rem;
  font-weight: 600;

  margin-bottom: 3.2rem;

  color: #333;
}

.meals-card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  list-style: none;
}

.meals-card-list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-size: 1.8rem;
}

.meals-card-list-icon {
  height: 2.4rem;
  width: 2.4rem;

  color: #e67e22;
}

.meals-diet-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  list-style: none;
}

.meals-diet-list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-size: 1.8rem;
}

.meals-diet-list-item span {
  cursor: pointer;

  transition: all 0.3s;
}

.meals-diet-list-item span:hover {
  font-weight: 500;
}

.meals-diet-list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

.meals-all-recipes {
  font-size: 1.8rem;

  text-align: center;
}

.meals-all-recipes-link:link,
.meals-all-recipes-link:visited {
  display: inline-block;

  text-decoration: none;

  border: solid 2px #eb984e;
  border-radius: 100px;

  padding: 1.2rem 2.4rem;

  color: #e67e22;

  transition: all 0.3s;
}

.meals-all-recipes-link:hover,
.meals-all-recipes-link:active {
  color: #fff;
  background-color: #eb984e;
}

/******************************/
/*    TESTIMONIALS SECTION    */
/******************************/

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;

  align-items: center;

  background-color: #fdf2e9;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.testimonial-block {
  border-radius: 11px;

  padding: 2.4rem;

  transition: all 0.75s;
}

.testimonial-block:hover {
  transform: scale(1.05);

  box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.05);
}

.testimonial-customer-img {
  width: 6.4rem;
  height: auto;

  border-radius: 50%;

  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;

  line-height: 1.8;

  margin-bottom: 1.6rem;
}

.testimonial-customer-name {
  font-size: 1.6rem;

  color: #6f6f6f;
}

.food-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;

  padding: 1.6rem;
}

.food-gallery-item {
  overflow: hidden;
}

.food-gallery-item-img {
  display: block;

  width: 100%;

  transition: all 0.4s;
}

.food-gallery-item-img:hover {
  transform: scale(1.1);
}

/******************************/
/*      PRICING SECTION       */
/******************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 75%;

  border-radius: 11px;
}

.pricing-plan--starter {
  justify-self: end;

  border: solid 2px #fdf2e9;

  padding: 4.6rem;

  transition: all 0.4s;
}

.pricing-plan--starter:hover {
  border: solid 2px #eb984e;
}

.pricing-plan--complete {
  position: relative;

  padding: 4.8rem;

  background-color: #fdf2e9;

  overflow: hidden;

  transition: all 0.4s;
}

.pricing-plan--complete:hover {
  box-shadow: inset 0 0 0 2px #eb984e;
}

.pricing-plan--complete::before {
  content: "Best Value";

  position: absolute;
  top: 6%;
  right: -18%;

  transform: rotate(45deg);

  font-size: 1.4rem;
  font-weight: 700;

  text-transform: uppercase;

  padding: 0.8rem 8rem;

  color: #333;
  background-color: #ffd43b;
}

.pricing-plan-header {
  text-align: center;

  margin-bottom: 4.8rem;
}

.pricing-plan-name {
  font-size: 2rem;
  font-weight: 600;

  letter-spacing: 0.75;
  text-transform: uppercase;

  margin-bottom: 3.2rem;

  color: #cf711f;
}

.pricing-plan-price {
  font-size: 6.2rem;
  font-weight: 600;

  color: #333;
}

.pricing-plan-price span {
  font-size: 3rem;
  font-weight: 500;

  margin-right: 0.8rem;
}

.pricing-plan-price-duration {
  font-size: 1.4rem;

  margin-bottom: 1.2rem;

  color: #6f6f6f;
}

.pricing-plan-per-meal-rate {
  font-size: 1.6rem;

  color: #6f6f6f;
}

.pricing-plan-sign-up {
  text-align: center;

  margin-top: 4.8rem;
}

.pricing-plan-details {
  font-size: 1.6rem;

  line-height: 1.6;

  text-align: center;

  color: #6f6f6f;
}

.feature-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  border-radius: 100rem;

  margin-bottom: 1.6rem;

  background: linear-gradient(to left, #fff 50%, #fdf2e9 50%);
  background-position: right;
  background-size: 200%;

  transition: all 1s ease;
}

.feature-header:hover {
  background-position: left;
}

.feature-icon {
  height: 2.4rem;
  width: 2.4rem;

  padding: 1.2rem;

  border-radius: 50%;

  color: #e67e22;
  background-color: #fdf2e9;

  transition: all 1s;
}

.feature-icon:hover {
  transform: rotate(360deg);
}

.feature-title {
  font-size: 2rem;
  font-weight: 700;

  color: #333;
}

.feature-text {
  font-size: 1.6rem;

  line-height: 1.6;

  padding-left: 0.8rem;
}

/******************************/
/*   CALL TO ACTION SECTION   */
/******************************/

.section-call-to-action {
  padding: 4.8rem 0 12.8rem 0;
}

.container-call-to-action {
  display: grid;
  grid-template-columns: 2fr 1fr;

  max-width: 120rem;

  border-radius: 11px;

  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);

  margin: 0 auto;

  overflow: hidden;
}

.call-to-action-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  color: #45260a;
}

.call-to-action-text-box .heading-secondary {
  margin-bottom: 2.4rem;

  color: #45260a;
}

.call-to-action-text {
  font-size: 1.8rem;

  line-height: 1.8;

  margin-bottom: 4.8rem;
}

.call-to-action-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.call-to-action-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.call-to-action-form label {
  display: block;

  font-size: 1.6rem;
  font-weight: 500;

  margin-bottom: 1.2rem;

  cursor: pointer;
}

.call-to-action-form input,
.call-to-action-form select {
  width: 100%;

  font-size: 1.8rem;
  font-family: inherit;

  border: none;
  border-radius: 9px;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  padding: 1.2rem;

  color: inherit;
  background-color: #fdf2e9;

  cursor: pointer;
}

.call-to-action-form input::placeholder {
  color: #aaa;
}

.call-to-action-form button {
  display: inline-block;

  align-self: end;

  font-size: 2rem;
  font-weight: 600;

  text-decoration: none;

  padding: 1.2rem;

  border: none;
  border-radius: 9px;

  color: #fdf2e9;
  background-color: #45260a;

  cursor: pointer;

  transition: all 1s;
}

.call-to-action-form button:hover {
  color: #45260a;
  background-color: rgba(253, 242, 233, 0.5);
}

.call-to-action-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);

  background-size: cover;
  background-position: center;
}

/******************************/
/*           FOOTER           */
/******************************/

.footer {
  border-top: 1px solid #eee;

  padding: 12.8rem 0;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-logo-box {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.footer-logo {
  display: block;

  border-radius: 9px;

  padding: 0.8rem 1.6rem;

  margin-bottom: 3.2rem;
}

.footer-social {
  display: flex;
  gap: 2.4rem;

  list-style: none;
}

.footer-social-link {
  display: block;

  border-radius: 9px;

  padding: 0.8rem;
}

.footer-social-icon {
  height: 2.4rem;
  width: 2.4rem;

  color: #767676;

  transition: all 0.3s;
}

.footer-social-icon:hover {
  color: #555;
}

.footer-copyright {
  align-self: end;

  font-size: 1.4rem;

  line-height: 1.6;
  text-align: center;

  margin-top: auto;

  color: #767676;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;

  margin-top: 0.8rem;
  margin-bottom: 4rem;
}

.footer-address {
  font-style: normal;
  font-size: 1.6rem;

  line-height: 1.6;

  color: #767676;
}

.footer-address p:first-child {
  margin-bottom: 1.6rem;
}

.footer-address-link:link,
.footer-address-link:visited {
  font-size: 1.6rem;

  text-decoration: none;

  color: #767676;

  transition: all 0.3s;
}

.footer-address-link:hover,
.footer-address-link:active {
  color: #555;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  list-style: none;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  font-size: 1.6rem;

  text-decoration: none;

  color: #767676;

  transition: all 0.3s;
}

.footer-nav-link:hover,
.footer-nav-link:active {
  color: #555;
}
